<%- include("../includes/head"); %>
  </head>
  <body>
<%- include("../includes/top-navbar"); %>
   <div class="container">
    <h1>Page Cart!</h1>

    <%if(products.length){%>
      <ul class="list-group">
<% products.forEach(pro => { %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= pro.title %>
    <span class="badge badge-primary badge-pill"><%=pro.cartitem.quantity%> X <%=pro.price%> </span>
    <form action="/cart-delete-item" method="post">
      <input type="hidden" name="id" value="<%=pro.id%>">
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>
  </li>
<% }); %>      
    </ul>

    <div class="text-center">
      <br>
       <span class="badge badge-primary badge-pill">
     <h3>Total Amount :<%= totalPrice %> </h3> 
      </span>
    <form action="/create-order" method="post">
    <br>

    <button type="submit" class="btn btn-primary">Place Order</button>
    </form>
    </div>
<%} else { %> 
  
  <div class="text-center">
    <br>
     <span class="badge badge-primary badge-pill">
   <h3>No Product Found in Cart!</h3> 
    </span>
  

  <%}%>



</div>

<%- include("../includes/footer"); %>

